html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-family: "font", sans-serif;
  background-color: #0f0f0f;
}

a {
  color: initial;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  min-width: 320px;
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  height: 100px;
}

.nav {
  padding: 20px 20px;
}

.nav-list {
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  position: relative;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #c8c8c8;
  letter-spacing: 0.5px;
  padding: 0 5px;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: #507eff;
  width: 0;
  height: 3px;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: #ffffff;
}

.nav-link:hover::after {
  width: 100%;
}

.special-title {
  margin-bottom: 20px;
  color: #c8c8c8;
  background: linear-gradient(to bottom, #195aff, #e600ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  line-height: 1.2;
}

.special-subtitle {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 24px;
  line-height: 1.2;
}

.special-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;
}

.special-item:not(:last-child) {
  margin-bottom: 10px;
}

.special-item {
  font-size: 16px;
  color: #f5f5f5;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

.special {
  color: #e600ff;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2;
}

.box {
  margin-bottom: 30px;
}

.box > p {
  color: #c8c8c8;
  background: linear-gradient(to bottom, #195aff, #e600ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
  line-height: 1.2;
}

.form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 70px;
}

.form-label {
  font-size: 16px;
  color: #f5f5f5;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.form-input {
  outline: 0;
  border: 0;
  background-color: transparent;
  background-color: #507eff;
  border-radius: 12px;
  color: #0f0f0f;
  padding: 5px 15px;
  margin-bottom: 20px;
}

.additional-title {
  margin-bottom: 20px;
  color: #c8c8c8;
  font-size: 30px;
  line-height: 1.2;
}

.additional-description {
  color: #e600ff;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.additional-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.additional-item {
  color: #f0f0f0;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.footer {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-description {
  color: #f0f0f0;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2;
}

.footer-link {
  color: #e600ff;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.2;
}
